<?php session_start() ?>
<!DOCTYPE html>
<html>
	<head>
		<title>Choreboard - Sign Up</title>
		<?php include('php-chunks/header.php'); ?>
		<form action="php/sign-up.php" onsubmit='return validateSignUp()' method="POST">
			<div class="container">
				<label for="uname">
					<b>Name</b>
					<span id="nameMatch">Name not availible</span>
				</label>
				<input type="text" placeholder="Enter Name" name="name" required>
				<label for="psw">
					<b>Password</b>
					<span id="passwordMatch">Passwords do not match</span>
				</label>
				<input type="password" placeholder="Enter Password" name="password" required>
				<label for="psw">Confirm Password</label>
				<input type="password" placeholder="Confirm Password" name="confirm" required>
				<div class="buttons">
					<button type="submit">sign-up</button>
				</div>
			</div>
		</form>
	</body>
</html>
